.login-page.background-img {
  background-image: url("../../assets/bg4.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;

  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.span-text {
  color: rgb(78, 21, 169);
  font-weight: 600;
}

.button-color {
  background-color: rgba(66, 41, 205, 0.904);
  color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}
