.top-logos-container{
    width: 100%;
    height: 50px;
    display: flex;
}


.yourcourses-title {
  width: 900px;
  margin: auto;
  display: flex;
  margin-top: 50px;
}

.hero-image-container{
    width: 100%;
    height: 300px;
    border: 1px solid gray;
    background-image: url("../assets/hero1.jpeg");
    background-size: cover;
    background-position: center;
}
