.r-container{
    background-image: url("../../assets/bg5.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.reset-password-container {
  margin-top: 450px;
  margin-bottom: 400px;
  
}
.reset-password-input{
    width: 500px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid gray;
}
.r-pw-text{
    font-size: larger;
    font-weight: 900;
}

.rp-button{
    height: 50px;
    border-radius: 20px;
    border: 2px solid gray;
    font-weight: 900;
    /* text-align: center;
    justify-content: center; */
}