.f-container{
    background-image: url("../../assets/bg5.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.forgot-password-container {
  margin-top: 450px;
  margin-bottom: 400px;
  
}
.forgot-password-input{
    width: 500px;
    height: 50px;
    border-radius: 20px 0px 0px 20px;
    border-right: 0px;
}
.f-pw-text{
    font-size: larger;
    font-weight: 900;
}

.fp-button{
    height: 50px;
    border-radius: 0px 20px 20px 0px;
    border-left: 0px;
    font-weight: 900;
}