.getusers {
  background-image: url("../../assets/bg5.jpg");
  background-size: cover;
  background-position: right;
  width: 50%;
  height: 100vh;
}
/* 
.text-div{
    width: 60%;
    height: 100vh;
} */
