/* html,
body {
  height: 100%;
} */

body {
    align-items: center;
    padding: 0;
    margin: 0;
    /* padding-top: 40px;
    padding-bottom: 40px; */
  }
  
  .home .background-img2 {
    background-image: url("../../assets/bg5.jpg");
    background-size: cover;
    background-position: right;
    width: 50%;
    height: 100vh;
  }
  
  .form-signin-home2 {
    /* width: 50%;
    max-width: 50%; */
    padding: 200px;
    margin: auto;
    /* margin-top: 70px; */
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .form-signin-container2 {
    background-color: white;
    width: 50%;
    height: 50%;
  }
  
  /* .form-signin .checkbox {
    font-weight: 400;
  } */
  
  .form-signin .form-floating:focus-within {
    /* z-index: 2; */
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .span-text {
    color: rgb(78, 21, 169);
    font-weight: 600;
  }
  
  .button-color2 {
    background-color: rgba(66, 41, 205, 0.904);
    color: #f5f5f5;
  }
  
  .admin-heading {
    width: 500px;
  }
  
  .admin-button-color2 {
    background-color: rgba(66, 41, 205, 0.904);
    color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    /* height: 100px;
    width: 150px; */
  }
  
  /* .btn-size{
    margin:100px
  } */
  
  .admin-logout2 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-right: 150px;
    margin-bottom: 0px;
  }
  
  .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.3);
  }
  