.list-admin-courses-container {
  background-image: url("../../assets/bg5.jpg");
  background-size: cover;
  /* border: none; */
  /* margin: none; */
  /* padding: none; */
  width: 100%;
  /* height: 100vh; */
  /* display: flex; */
  align-items: center;
  /* justify-content: center; */
}

/* .courseEdit{ */
/* display: inline-block; */
/* width: 50px;
    height: 50px; */
/* margin: auto; */
/* padding: 2px; */
/* border: 1px solid black; */

/* } */
.courseMargin {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.button-bottom {
  margin-bottom: 4px;
  margin-left: 35px;
}

.courselist-heading {
  font-weight: 900;
  color: black;
}
.admin-card-style {
  border-radius: 20px;
}
.admin-logout {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  margin-right: 150px;
  margin-bottom: 0px;
}
