.curriculum-header {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* color: red; */
  font-weight: bold;
}

.accordion-item {
  border: 2px solid green;
  /* background-color: aquamarine; */
  color: white;
}
.accordion-item:nth-of-type(n) .accordion-button {
  color: green;
  font-weight: 700;
  font-size: 19px;
  border: 1px solid white;
}
.outlined-icon {
  /* color: red; */
  font-size: 25px;
  font-weight: bolder;
}

.accordion-button::after {
  margin-left: initial;
}

.edit-outline-icon {
  margin-left: auto;
  margin-right: 8px;
}

.delete-outline-icon {
  margin-right: 24px;
}
