.user-available-courses-container {
    background-image: url("../../assets/bg5.jpg");
    background-size: cover;
   height: 100vh;
    width: 100%;
    
    align-items: center;
  
  }

  .card-style{
    border-radius: 20px;
  }
  
  .user-courseMargin {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
  }
  .user-button-bottom {
    margin-bottom: 4px;
    margin-left: 35px;
  }
  
  .user-courselist-heading {
    font-weight: 900;
    color: black;
  }
  .card-button{
   margin: auto;
   margin-bottom: 15px;
   /* color: red; */
  }

  .card-button-styles{
    border-radius: 20px;
  }

  .user-courses-return{
    font-weight: 800;
    /* color: white; */
    margin-top: 100px;
  }
  
  /* Accordion CSS */


  .custom-modal-style{
    transition: opacity .15s linear;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    transition-property: opacity;

  }

.accordion-size{
  width:100%;
  height:100vh;
  margin:auto;
}
  
  .curriculum-header {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* color: red; */
    font-weight: bold;
  }
  
  .accordion-item {
    border: 2px solid green;
    /* background-color: aquamarine; */
    color: white;
  }
  .accordion-item:nth-of-type(n) .accordion-button {
    color: green;
    font-weight: 700;
    font-size: 19px;
    border: 1px solid white;
  }
  .outlined-icon {
    /* color: red; */
    font-size: 25px;
    font-weight: bolder;
  }
  
  .accordion-button::after {
    margin-left: initial;
  }
  
 